doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/favicons/fm-icon.png')
    script(type='text/javascript' src='/socket.io/socket.io.js')

    block headcontent
  body
    nav.navbar.navbar-default#setting_buttons(role="navigation")
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="#")#resetBtn
              span Reset
          li
            a(href="#")#settingBtn
              span Settings
          li
            a(href="http://fm-roster.herokuapp.com/users" target="_blank")
              span Add New Member
          li
            a(href="http://bit.ly/fmcallnotes" target="_blank")
              span FM Call Notes
          li
            a(href="#")#selectRandom
              span Select Random
          li
            a(href="https://sites.google.com/a/favoritemedium.com/home-fm/home/engineering/fm-roster-app" target="_blank")
              span Help

    block content

    i Right click or secondary click on the buttons to view sub-menu

    script(type='text/javascript' src='/javascripts/jquery-1.10.2.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47921402-1', 'fm-roster.herokuapp.com');
      ga('send', 'pageview');

    block footcontent