extends layout

block headcontent
	script(type='text/javascript' src='http://www.google.com/jsapi')
	script.
		var url = "!{fullURL}";
		var empList = !{JSON.stringify(employees)};

		google.load('visualization', '1', {packages: ['corechart']});

block content
	.bordered-all.content.table.space3#rosterTable
		h4.align-center Roster List

		.row.header
			.col.col-xs-10.col-md-10.col-lg-10.align-center
				Employee Name
			.col.col-xs-2.col-md-2.col-lg-2
				&nbsp;
		- for (var i = 0; i < employees.length; ++i) {
			.row
				.col.col-xs-10.col-md-10.col-lg-10.emp-name-col
					=employees[i].name
				.col.col-xs-2.col-md-2.col-lg-2
					button.btn.btn-danger.delete-btn.btn-xs(data-roster-id=employees[i].id)
						span Del
		- }

	.bordered-all.content.space1
		h4.align-center Add New Employee
		.row.space2
			.col-xs-4.col-md-4.col-lg-4.align-right
				span Name:
			.col-xs-8.col-md-8.col-lg-8
				input(type="text" id="nameAddNew" value="")
		.row
			.col-xs-4.col-md-4.col-lg-4
			.col-xs-8.col-md-8.col-lg-8
				button.btn.btn-info#save
					span Save
				span#message
		.row
			.col-xs-4.col-md-4.col-lg-4
			.col-xs-8.col-md-8.col-lg-8
				br
				| Also <strong>remember</strong> to add her/him to
				|  <a href="https://console.developers.google.com/project/914389683900/permissions">FM Roster Hangout extension</a>
				|  and show her/him <a href="https://sites.google.com/a/favoritemedium.com/home-fm/home/engineering/fm-roster-app">how to install</a> it! :D

	.bordered-all.content
		.row.space1
			.col.col-xs-4.col-md-4.col-lg-4.align-left
				button.btn.btn-info#fetchData
					span Fetch data from FM spreadsheet
			.col.col-xs-4.col-md-4.col-lg-4.align-center
				span#message2
			.col.col-xs-4.col-md-4.col-lg-4.align-right
				button.btn.btn-info#update
					span Update current Roster with selected

		.spreadsheetTable.table

block footcontent
	script(type='text/javascript' src='/javascripts/users.js')
