extends layout

block headcontent

block content
	#message.row
		.col-xs-12.col-md-12.col-lg-12.align-center

	br
	
	.row
		.col-xs-12.col-md-12.col-lg-12.align-center
			button.btn.btn-danger#initDB
				span Initialize DB

block footcontent
	script(type='text/javascript' src='/javascripts/settings.js')