body {
  padding: 10px 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.align-right{text-align: right;}
.align-left{text-align: left;}
.align-center{text-align: center;}

.space1{margin-bottom: 10px;}
.space2{margin-bottom: 20px;}
.space3{margin-bottom: 30px;}

#emp_list button{
	text-align: left;
	margin: 5px 0;
}

#emp_list button.btn-success.active{
	background-color: #47a447;
	border-color: #398439;
	color: #fff;
}

#emp_list button i{
	margin: 0 10px;
}

#emp_settings{
	display: none;
}

#emp_settings span.name{
	display: block;
}
#emp_settings .is-present{
	margin-right: 10px;
}

/*#setting_buttons{margin-top: 20px;}
#setting_buttons .btn{
	margin-bottom: 10px;
	width: 90%;
}*/

.spinner{
	-webkit-animation: rotating 6s infinite linear;
	-moz-animation: rotating 6s infinite linear;
	animation: rotating 6s infinite linear;
	display: inline-block;
}

@-moz-keyframes rotating { 
	from{ -moz-transform: rotate(0deg);}
  to{ -moz-transform: rotate(360deg);}
}
@-webkit-keyframes rotating { 
	from{ -webkit-transform: rotate(0deg); }
  to{ -webkit-transform: rotate(360deg); }
}
@keyframes rotating { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
	from{ -webkit-transform: rotate(0deg); }
  to{ -webkit-transform: rotate(360deg); }
}

@media only screen and (max-width: 350px) { 
	.btn.btn-lg{
		font-size: 14px;
		line-height: 20px;
		border-radius: 4px;
	}	
}

.hidden{
	display: none;
}

#addNew.row{
	display: none;
}

#addNew.row.show{
	display: block;
}

.bordered-all{
	border: 1px solid #000;
	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.table .row{margin: 0;}
.table .col{border: 1px solid #000; min-height: 30px; padding-top: 3px;}

.emp-name-col{font-size: 18px;}

.content{padding: 5px;}
.header{font-weight: bold; font-size: 18px;}

#nameAddNew{width: 100%;}

.context-menu{
	position: absolute;
	z-index: 9999;
	display: none;
	background-color: #fff;
}

.context-menu .cm-item{
	display: block;
	padding: 5px 10px;
	cursor: pointer;
}

.context-menu .cm-item.first-child{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.context-menu .cm-item.last-child{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.context-menu .cm-item:hover{
	background-color: #e6e6e6;
}